@media (max-width: 599px) {
}

aside {
	border: 1px solid black;
	text-align: center;
	background-color: #2196f3;
	display: block;
	min-height: 100vh;
}
body {
	margin: 0;
	display: grid;
	grid-template-columns: 250px auto;
	} 
aside h3 {
	font-size: 25px;
	font-family: Trebuchet MS;
	border: 1px solid #000000;
	background-color: #808080;
	margin: 0 0 30px 0;
	color: white;
}
h1 {
	color: #0288d1;
}

h1, h4{
	text-align: center;
}
h2 {
	text-align: center;
	font-style: italic;
	text-decoration: underline;
}

img{
	border-radius: 80px;
}
section .content{
  display: grid;
  grid-template-columns: 1rem 5rem 1fr;
  margin-left: 150px;
}
.details{
	margin-left: 90px;
}
.icon{
	margin-left: -30px;
	margin-top: 15px;

}














